<h1>Sonuclar</h1>

<ul>
    <% data["results"].forEach(function(film){%>
    <li>
        <strong>
           <%=film["title"] %>
        </strong>
        <strong>
            ---
        <%=film["original_title"] %>
        </strong>
        ---
        <%=film["vote_average"] %>
        ---
        <%=film["overview"] %>
       
    </li>
    <%})%>
</ul>
<a href="/">Baska film ara</a>